# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Python virtual environment
mental-health/

# Node.js modules
node_modules/

# Editor-specific files
.vscode/
.idea/
